name: "Flawless Integration"

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  integration:
    name: Analyze Integration
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install Dependencies
        run: npm ci

      - name: Execute Rollup Script
        run: npm run rollup

      - name: Publish Repository to Yalc
        run: npx yalc publish

      - name: Create Integration Project
        run: npm create vite@latest integration -- --template react-ts

      - name: Use Package in Integration Project
        run: |
          cd integration
          npm i
          npx yalc add fetch-loading
          npm i
          cat package.json | grep fetch-loading || exit 1

      - name: Override App.jsx
        run: |
          cat <<EOF > integration/src/App.tsx

          import { FetchLoading } from 'fetch-loading'

          const App = () => {
            return <FetchLoading ariaLabel="Loading" theme="#ffe98c" />
          }

          export default App
          EOF

      - name: Install Puppeteer
        run: |
          cd integration
          npm i puppeteer

      - name: Build Integration Project
        run: |
          cd integration
          npm run build || exit 1

      - name: Create Puppeteer Script
        run: |
          cat <<EOF > integration/integration.mjs
          import puppeteer from 'puppeteer'
          (async () => {
            const browser = await puppeteer.launch({
              args: ['--no-sandbox', '--disable-setuid-sandbox'],
            })
            const page = await browser.newPage()
            try {
                await page.goto('http://localhost:5173', { waitUntil: 'networkidle0' })
                await page.waitForSelector('div[aria-label="Loading"]', { timeout: 5000 })
            } catch (e) {
                console.error('Error:', e)
                process.exit(1)
            } finally {
                await browser.close()
            }
          })()
          EOF

      - name: Test for FetchLoading Component
        run: |
          cd integration
          npm run dev -- --port 5173 --host &
          npx wait-on http://localhost:5173 --timeout 10000
          node integration.mjs
